@model List<Book>

@if(Model.Count >0){
	<table class="table">
                <tr>
                        <th>Image</th>
                        <th>title</th>
                        <th>price</th>
                        <th>author</th>
                        <th>pages</th>
                        <th>category</th>
                        <th>Language</th>
                        <th>Year</th>
                        <th>status</th>

                </tr>
                @foreach (var item in Model)
                {
                   
                        <tr>
                                <td><img src="@item.Photo"></img></td>
                                <td>@item.Title</td>
                                <td>@item.Price</td>
                                <td>@item.Author</td>
                                <td>@item.Pages</td>
                                <td>@item.Category</td>
                                <td>@item.Language</td>
                                <td>@item.Year</td>
                                <td>
                    @if (item.Status == "sold")
                    {
                        <a href="/admin/solddetails/index/@item.Id">sold</a>
                    }
                    else
                    {
                        @item.Status
                    }
                </td>
                               
                        </tr>
                }
               
               
        </table>


}
else{
	        <h3 class="display-4 text-center">there is no books.</h3>

}